# Created by https://www.gitignore.io

### Composer ###
vendor/

### OS X ###
.DS_Store

### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format:
.idea/workspace.xml
.idea/tasks.xml

# JIRA plugin
atlassian-ide-plugin.xml

# Generated build files
build/